<footer class="footer bg-dark">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Encuentranos</h5>
    <!--headin5_amrc-->
    <p><i class="fa fa-location-arrow"></i> Universidad Autonoma Gabriel Rene Moreno </p>
    <p><i class="fa fa-phone"></i>  +591-73151022  </p>
    <p><i class="fa fa fa-envelope"></i> proyectoredes@gmail.com  </p>
    </div>
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Enlaces rápidos</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="#">Registrate</a></li>
    <li><a href="#">Ingresa</a></li>
    <li><a href="#">¿Quienes somos?</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Siguenos</h5>
    <!--headin5_amrc ends here-->
    
    <ul class="footer_ul2_amrc">
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Sigue a la pagina oficial en Twitter... <a href="#">https://www.twitter.com/</a></p></li>
    </ul>
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>
    
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Ayuda</a></li>
    <li><a href="#">Contacto</a></li>
    </ul>
    <p class="text-center">Copyright @2022 | Realizado por <a href="#">Alexander Esquivel</a></p>
    
    <ul class="social_footer_ul">
    <li><a href="#" class="faceb"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" class="twt"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#" class="inst"><i class="fab fa-instagram"></i></a></li>
    <li><a href="#" class="yout"><i class="fab fa-youtube"></i></a></li>
    </ul>
    </div>   
</footer>